/* stile globale */

/* #region common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

:root {
  --dark-colour: #2F0147;
  --light-colour: #E2C2C6;
  --success-colour: #81B29A;
  --danger-colour: #E94F37;
}

/* #endregion common */

#root {

  header {
    background-color: var(--dark-colour);
    color: var(--light-colour);
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    nav {

      a {
        margin: 0 1rem;
        text-decoration: none;
        color: var(--light-colour);
      }
    }
  }

  main {
    min-height: 95vh;
    padding: 1rem;
  }

  footer {
    background-color: var(--dark-colour);
    color: var(--light-colour);
    padding: 1rem;
    text-align: center;
  }
}